[submodule "remote/SimpleContainersLibrary"]
	path = remote/SimpleContainersLibrary
	url = https://github.com/ptrNine/SimpleContainersLibrary
[submodule "remote/SimpleConfigManager"]
	path = remote/SimpleConfigManager
	url = https://github.com/ptrNine/SimpleConfigManager
[submodule "remote/fmt"]
	path = remote/fmt
	url = https://github.com/fmtlib/fmt
[submodule "remote/utfcpp"]
	path = remote/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "remote/gainput"]
	path = remote/gainput
	url = https://github.com/jkuhlmann/gainput
[submodule "remote/cpp-httplib"]
	path = remote/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "remote/zlib"]
	path = remote/zlib
	url = https://github.com/madler/zlib
[submodule "remote/SFML"]
	path = remote/SFML
	url = https://github.com/SFML/SFML
[submodule "remote/nuklear"]
	path = remote/nuklear
	url = https://github.com/vurtun/nuklear
[submodule "remote/flat_hash_map"]
	path = remote/flat_hash_map
	url = https://github.com/skarupke/flat_hash_map
[submodule "remote/libcuckoo"]
	path = remote/libcuckoo
	url = https://github.com/efficient/libcuckoo
